body {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  font-family: Liberation Sans,
    Arial,
    sans-serif;
  background-color: #fffaf7;
  line-height: 1.5;
}

#numberToWordOutputTitle {
  font-weight: bold;
}

.updateContainer {
  margin-top: 200px;
  text-align: center;
  font-size: 12px;
}
